* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #22232e;
}
.btn-group button {
  background-color: #FFD80F; 
  border: 3px solid darkgoldenrod;
  color: black; /* Black text */
  padding: 10px 24px; /* Some padding */
  cursor: pointer; /* Pointer/hand icon */
  width: 150%; /* Set a width if needed */
  height: 150%;
  font-size: 25px;
  display: block; /* Make the buttons appear below each other */
}
.btn-group button:not(:last-child) {
  border-bottom: none; /* Prevent double borders */
}
.btn-group button:hover {
  background-color: #E8C40E;
}