.footer-container {
    background: var(--c2);
    width: 100%;
    height: 80px;
    bottom: 0;
    
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    position: relative;

    color: var(--text_light);
}

.footer-container * {
    line-height: normal;
}

.footer-container h1 {
    font-size: 1.0rem;
}

.footer-logo {
    /* Position Logo */
    margin-left: 20px;
    display: flex;
    justify-self: start;
    align-items: center;
    /* Font Settings */
    font-size: 1.6rem;
}

.footer-logo img {
    height: 50px;
    padding-left: 12px;
}