.hero-container {
    /* Set Size */
    width: 100%;
    top: 0;
    height: calc(100vh - 80px);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    padding: 30px;

    position: relative;

    /* Darken Background */
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.4);
}

.hero-container * {
    color: var(--text_light)
}

.hero-wrapper {
    position: absolute;
    width: 100%;
    height: calc(100vh - 80px);
    z-index: -1;
}

.hero-wrapper video {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.hero-content {
    padding: 20px 40px;
    top: 0;
    z-index: 99;

    text-shadow: 1px 1px 2px black;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero-bottom {
    bottom: 25px;
    color: var(--text_light);
    font-size: 20px;
    position: absolute;
    z-index: 90;
}

.hero-container h1 {
    font-size: 64px;
}

.hero-container p {
    font-size: 20px;
}

/* Adjust for smaller screen. */
@media screen and (max-width: 960px) {
    .hero-container {
        padding: 10px
    }

    .hero-container h1 {
        font-size: 32px;
    }
    
    .hero-container p {
        font-size: 16px;
    }
}