.quote-container {
    background-color: var(--c2);
    padding: 50px 20px;
    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
}

.quote-container h1 {
    text-align: center;
    color: var(--text_light);
    font-size: 40px;
}

/* Adjust for smaller screen. */
@media screen and (max-width: 960px) {
    .quote-container {
        padding: 25px;
    }
    .quote-container h1 {
        font-size: 18px;
    }
}