@import url('https://fonts.cdnfonts.com/css/sf-ui-text-2');

*{
  font-family: 'SF UI Text', sans-serif;
}

body {
  background: linear-gradient(to right, white, #FFED3F);
  background-size: 150% 100%;
}

.gradient-text {
  background-image: linear-gradient(to right, #1E3A8A,  #0891B2);
  background-clip: text;
  color: transparent;
  background-size: 200% 100%; 
  animation: changeGradient 2s linear infinite alternate;
}

@keyframes changeGradient {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 100% 0;
  }
}