@import url('https://fonts.cdnfonts.com/css/sf-ui-text-2');

*{
  font-family: 'SF UI Text', sans-serif;
}

body {
  background: linear-gradient(to right, white, #FFED3F);
  background-size: 150% 100%; /* Larger size to accommodate the animation */
}