.navbar {
    background: #494956 !important;
    margin-bottom: 0 !important;
}

.navbar-text, 
.navbar-brand,
.nav-link {
    color: white !important;
}

.navbar-toggler-icon {
    /*Change color of mobile hamburger menu icon*/
    background-image: url(./img/hamburger.webp);
}

.navbar-toggler {
    /*Change color of mobile hamburger menu icon's border*/
    border: 1px solid white;
}

.offcanvas {
    /*Change background color of the mobile menu modal*/
    background: #494956;
    /*Reduce width of mobile menu modal*/
    max-width: 50%;
    height: auto;
}

.offcanvas-header .btn-close {
    --bs-btn-close-bg: url(./img/closebutton.webp) !important;
}