.footer {
  background-color: #494956;
  color: #fff;
  padding: 20px 0;
  justify-content: center;
  text-align: center;
}

.footer-logo {
  width: 50px;
  height: auto;
}


.contact-color {
  color: white
}